/** about section **/
.about {
    background-color: #fff;
    box-shadow: #ddd 0px 0px 13px 5px;
    margin: 90px 30px 20px 30px;     
}
.about .about-box {
text-align: left;
float: right;
width: 100%;
max-width: 539px;
padding: 40px 0;
   
}



.about .about-box::after {
    position: absolute;
    content: "";
    background: url(../images/crros.png);
    height: 244px;
width: 187px;
bottom: 0;
left: 0;
background-repeat: no-repeat;
}
.about .about-box h2 {

    font-weight: bold;
    color: #fff;
    line-height: 40px;
    font-size: 45px;
    text-transform:uppercase;
    background: #547d13;
    display: inline-block;
    padding: 20px 30px;

}
.about .about-box p {
    padding-right: 10px;
    font-size: 15px;
    line-height: 28px;
    color: #000;
    padding: 40px 0px;
}

.about .about-box .test {
    font-size: 16px;
border: #070905 solid 1px;
background-color: #070905;
color: #fff;
padding: 9px 0px;
max-width: 171px;
width: 100%;
display: inline-block;
text-align: center;
text-transform: uppercase;
border-radius: 30px;
}


.about .about-box a:hover{ 
    background-color: #428713;
    border: #428713 solid 1px;
   color: #fff;
}
.about .about-box_img figure {
    margin: 0;
}
.about .about-box_img figure img {
   width: 100%;
}
.padding_rl {padding: 0;}
/** end about section **/